.minesweeper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14pt;
  }
  
  .opened {
    background-color: #eee;
    cursor: default;
  }
  
  .mine {
    background-color: red;
    color: white;
  }
  
  .exploded {
    background-color: darkred;
  }
  
  .reset {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12pt;
  }
  
  .input-container label {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .input-container input {
    width: 30px;
    padding: 2px;
    text-align: center;
    font-size: 12pt;
  }

  .input-container .space {
    margin-right: 50px;
  }

  .header {
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #333;
  }