.minesweeper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 25px;
    height: 25px;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14pt;
    background-color: #ddd;
    font-weight: bold;
  }
  
  .opened {
    background-color: #fff;
    cursor: default;
  }
  
  .mine {
    background-color: red;
    color: white;
  }
  
  .exploded {
    background-color: darkred;
  }
  
  .reset {
    margin-top: 0px;
    padding: 5px 5px;
    background-color: paleturquoise;
    border: pink solid;
    border-radius: 20%;
    border-width: 2px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    color: black;
  }
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12pt;
    font-weight: bold;
  }
  
  .input-container label {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .input-container input {
    width: 30px;
    padding: 2px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    background-color: #efe;
  }

  .input-container .space {
    margin-right: 50px;
  }

  .header {
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #333;
  }

  .show-box {
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
    margin: 20px;
  }
  
  .showr {
    border: 2px solid #000;
    width: 100px;
    margin-left: 100px;
  }
  .showl {
    border: 2px solid #000;
    width: 100px;
  }
  
  .show-box p {
    margin: 0px;
    font: 24pt bold;
  }

  .number-1 {
    color: blue;
  }
  
  .number-2 {
    color: green;
  }
  
  .number-3 {
    color: red;
  }
  
  .number-4 {
    color: darkblue;
  }
  
  .number-5 {
    color: darkred;
  }
  
  .number-6 {
    color: cyan;
  }
  
  .number-7 {
    color: violet;
  }
  
  .number-8 {
    color: black;
  }